<br/>
<div class="container-sm">
<% @users.each do |user|%>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4" style="width: 100px;">
      <img src =<%= user.photo %> class="img-fluid rounded-start" alt="User Photo">
    </div>
    <div class="vr"></div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= user.name %></h5>
        <p class="card-text"><small class="text-muted">Number of posts: <%= user.post_counter %></small></p>
      </div>
    </div>
  </div>
</div>

<% end %>
</div>


